<% if(user.document.length> 0) {%>
    <% user.document.map((user1,i)=> { %>
        <h4>hellop</h4>
<img src="http://localhost:5000/<%=user1%>" alt=" user document" width="400" height="300">

<% }) %>
<% }  %>