<!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li>
                    <li class="nav-label"><a href="/admin/all-users"><i class="fa fa-tachometer" aria-hidden="true"></i>User</a></li>
                    <!-- <li>
                        <a href="/" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                      
                    </li> -->
                    

                    <!-- <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Users</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/user/category/add">Add User Category</a></li>
                            <li><a href="/user/category/list">List User Category</a></li>
                            <li><a href="/users/add-trainer">Add Trainer</a></li>
                            <li><a href="/users/trainers/list">Trainers</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Products</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/products/category/add">Add Product Category</a></li>
                            <li><a href="/products/category/list">List Category</a></li>
                            <li><a href="/products/product/add">Add Product</a></li>
                            <li><a href="/products/product/list">List Products</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Coupons</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/products/coupons/add">Add Coupon</a></li>
                            <li><a href="/products/coupons/list">List Coupon</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Meals</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/meals/category/add">Add Meals Category</a></li>
                            <li><a href="/meals/category/list">List Meals Category</a></li>
                            <li><a href="/meals/ingredient/add">Add Meals Ingredient</a></li>
                            <li><a href="/meals/ingredients/list">List Ingredients</a></li>
                            <li><a href="/meals/meal/add">Add Meal</a></li>
                            <li><a href="/meals/meal/list">List Meals</a></li>
                        </ul>
                    </li> -->
                    
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->